/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

@media (width < 1228px) {
  .bank_notes_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}
